label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label,
fieldset {
  margin-bottom: 10px;
}

label span {
  display: block;
  margin-bottom: 4px;
}

[type="checkbox"][checked] {
  outline: 2px solid red;
}
td {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
